<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParagraphElements" value="p,head,trailer" />
    <add key="IgnoreElements" value="note"/>
    <!-- Unicode Character at 4676 decimal, 1244 hex, is in the Ethiopic range -->
    <add key="CapitalMarker" value="4676"/>
    
  </appSettings>
  </configuration>