<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParagraphElements" value="unk,indent,bodytext,paraalign,centre,book,chapter,nikaya,title,subhead,centrebold,gatha1,gatha2,nonindent,gathalast,gatha3" />
    <add key="IgnoreElements" value="fnote,bold"/>
    <!-- Unicode Character at 4676 decimal, 1244 hex, is in the Ethiopic range -->
    <add key="CapitalMarker" value="4676"/>

  </appSettings>
</configuration>